<?xml version="1.0" encoding="utf-8"?>

  <Body>
	<Dialog name="DoorsLevel1">
		<speech textX="18" textY="108" 
		text="" speaker="0" 
		size="22" 
		bild="dialog0.png" bildX="3" bildY="80"
		textboxWidth="290" textboxHeight="110" 
		emotion="0" 
		font="segoeui.ttf"
		colorR="255"
		colorB="255"
		colorG="255"
		colorA="255"/>
	</Dialog>
  </Body>